<app-cabecalho></app-cabecalho>

<div class="container">
    <h2>Inscrições na competição: {{ tituloCompeticao }}</h2>
    <tr *ngFor="let categoria of categorias | keyvalue">
    <h2>{{ categoria.value.nome }}</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Competidor</th>
                <th>E-mail</th>
                <th>Status</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let infoInscricao of infoInscricoes | filtrarPorCategoria: categoria.key">
                <td>{{ infoInscricao.nomeCompetidor }}</td>
                <td>{{ infoInscricao.emailCompetidor }}</td>
                <td>{{ infoInscricao.status === 0 ? "Pendente" : 
                infoInscricao.status === 1 ? "Aguardando pagamento" :
                infoInscricao.status === 2 ? "Paga" : "Recusada"}}</td>
                <td>
                    <button *ngIf="infoInscricao.status === 0 || infoInscricao.status === 3" (click)="aprovarInscricao(infoInscricao); infoInscricao.status = 1" class="btn btn-success">Aprovar</button>
                    <button *ngIf="infoInscricao.status !== 2 && infoInscricao.status !== 3" (click)="recusarInscricao(infoInscricao); infoInscricao.status = 3" class="btn btn-danger">Recusar</button> 
                </td> 
            </tr>
        </tbody>
    </table>
</tr>
</div>

<app-rodape></app-rodape>