<app-cabecalho></app-cabecalho>

<div class="container">
    <h2>Pagamento da inscrição do torneio {{ infoInscricao.tituloCompeticao}}</h2>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Competidor</th>
                    <th>E-mail</th>
                    <th>Categoria</th>
                    <th>Valor da inscrição</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ infoInscricao.nomeCompetidor }}</td>
                    <td>{{ infoInscricao.emailCompetidor }}</td>
                    <td>{{ infoInscricao.nomeCategoria }}</td>
                    <td>R$ {{ infoInscricao.valorCategoria | number:'1.2-2' }}</td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="infoInscricao.status === 1">
            <div *ngIf="paymentCompleted; else qrCodeSection" class="text-success">
                <p>🎉 Pagamento realizado com sucesso! Obrigado por confirmar sua inscrição. 🎉</p>
            </div>
            <ng-template #qrCodeSection>
                <p>Escaneie o QR Code abaixo para realizar o pagamento:</p>
                <img [src]="qrCodeUrl" alt="QR Code para pagamento">
            </ng-template>
        </div>
        <div *ngIf="infoInscricao.status === 2" class="text-success">
            <p>O pagamento já foi realizado.</p>
        </div>
        <div *ngIf="infoInscricao.status === 3" class="text-danger">
            <p>A inscrição foi recusada.</p>
        </div>
        <div *ngIf="infoInscricao.status === 0" class="text-warning">
            <p>A aprovação da inscrição está pendente.</p>
        </div>
    </div>
</div>

<app-rodape></app-rodape>