<app-cabecalho></app-cabecalho>

<div class="detalhes-container" *ngIf="competicao">
    <!-- Banner e Cabeçalho -->
    <div class="banner-section">
        <img [src]="competicao.bannerImagem || 'assets/images/default-banner.jpg'" alt="Banner da competição"
            class="banner-image">
        <div class="competicao-header">
            <h1>{{ competicao.titulo }}</h1>
        </div>
    </div>

    <!-- Informações da Competição -->
    <div class="info-section">
        <div class="info-card">
            <h2>Informações Gerais</h2>
            <p><strong>Nome:</strong> {{ competicao.titulo }}</p>
            <p><strong>Modalidade:</strong> {{ competicao.modalidade }}</p>
            <p><strong>Descrição:</strong> {{ competicao.descricao }}</p>
            <p><strong>Local:</strong>
                <span *ngIf="!competicao.pais">Não informado</span>
                <span *ngIf="competicao.pais">{{ competicao.pais }}</span>
                <span *ngIf="competicao.estado">, {{ competicao.estado }}</span>
                <span *ngIf="competicao.cidade">, {{ competicao.cidade }}</span>
            </p>
            <p><strong>Período:</strong> {{ competicao.dataInicio | date:'dd/MM/yyyy' }} - {{ competicao.dataFim |
                date:'dd/MM/yyyy' }}</p>
        </div>

        <!-- Categorias -->
        <div class="categorias-section" *ngIf="categorias.length > 0">
            <h2>Categorias</h2>
            <div class="categorias-grid">
                <div class="categoria-card" *ngFor="let categoria of categorias">
                    <h3>{{ categoria.nome }}</h3>
                    <p>{{ categoria.descricao }}</p>
                    <p><strong>Inscrição:</strong> {{ categoria.valorInscricao | currency:'BRL' }}</p>
                </div>
            </div>
        </div>

        <div>
            <div *ngFor="let categoria of categorias">
                <h3>{{ categoria.nome }}</h3>

                <div
                    *ngIf="bracketsPorCategoria[categoria.nome] && bracketsPorCategoria[categoria.nome].length > 0; else semChaveamentos">
                    <div *ngFor="let chaveamento of bracketsPorCategoria[categoria.nome]" class="mb-4">
                        <h4>{{ chaveamento.nomeChaveamento }}</h4> <!-- Título de cada chaveamento -->
                        <app-visualizacao-chaveamento-botao [jsonSerializado]="chaveamento.arvoreConfrontos"
                        [modoVisualizacao]="true"
                            [nomesDisponiveis]="[]">
                        </app-visualizacao-chaveamento-botao>
                    </div>
                </div>

                <ng-template #semChaveamentos>
                    <p class="text-muted fst-italic">Nenhum chaveamento disponível para esta categoria.</p>
                </ng-template>
            </div>
        </div>
    </div>

    <app-rodape></app-rodape>