/* Minhas Competições */
.minhas-competicoes {
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.minhas-competicoes h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.competicoes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.competicao-card {
    position: relative;
    width: calc(33.333% - 20px); /* Três cards por linha */
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
    .competicao-card {
        width: calc(50% - 20px); /* Dois cards por linha */
    }
}

@media (max-width: 480px) {
    .competicao-card {
        width: 100%; /* Um card por linha */
    }
}

.competicao-info {
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.competicao-info h3 {
    margin-top: 0;
    font-size: 24px;
}

.competicao-info p {
    margin: 5px 0;
}

.competicao-info.com-banner {
    background-color: transparent;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
