<div class="background-image">
  <form (ngSubmit)="submitForm()" #form="ngForm" class="beautiful-form">
    <div class="form-row">
      <section class="same-row">
        <div class="form-group">
          <label for="nome">Nome:</label>
          <input type="text" id="nome" name="nome" [(ngModel)]="userData.nome" required
            [ngClass]="{ 'error-border': form.controls['nome']?.errors?.['required'] && (form.controls['nome'].touched && signUpButtonPressed) }">
        </div>
        <div class="form-group">
          <label for="sobrenome">Sobrenome:</label>
          <input type="text" id="sobrenome" name="sobrenome" [(ngModel)]="userData.sobrenome" required
            [ngClass]="{ 'error-border': form.controls['sobrenome']?.errors?.['required'] && (form.controls['sobrenome'].touched && signUpButtonPressed) }">
        </div>
      </section>
      <div class="form-group">
        <label for="dataNascimento">Data de Nascimento:</label>
        <input type="date" id="dataNascimento" name="dataNascimento" [(ngModel)]="userData.dataNascimento" required
          [ngClass]="{ 'error-border': form.controls['dataNascimento']?.errors?.['required'] && (form.controls['dataNascimento'].touched && signUpButtonPressed) }">
      </div>
      <section class="same-row">
        <div class="form-group">
          <label for="cpfCnpj">CPF/CNPJ:</label>
          <input type="text" id="cpfCnpj" name="cpfCnpj" [(ngModel)]="userData.cpfCnpj" required
            mask="000.000.000-00|00.000.000/0000-00"
            [ngClass]="{ 'error-border': form.controls['cpfCnpj']?.errors?.['required'] && (form.controls['cpfCnpj'].touched && signUpButtonPressed) }">
        </div>
        <div>
          <label for="pais">País:</label>
          <select id="pais" name="pais" [(ngModel)]="userData.pais" required (change)="onCountryChange()"
            [ngClass]="{ 'error-border': form.controls['pais']?.errors?.['required'] && (form.controls['pais'].touched && signUpButtonPressed) }"
            aria-label="Selecione o país de residência">
            <option value="" disabled selected hidden>Selecione um país</option>
            <option *ngFor="let country of paisesDoMundo?.geonames" [value]="country.countryName">
              <!-- <span ngxFlag [country]="country.countryCode" size="20"></span> -->
              {{ country.countryName }}
            </option>
          </select>
        </div>

      </section>
      <section class="same-row">
        <div>
          <label for="estado">Estado:</label>
          <select id="estado" name="estado" [(ngModel)]="userData.estado" required (change)="onStateChange()"
            [ngClass]="{ 'error-border': form.controls['estado']?.errors?.['required'] && (form.controls['estado'].touched && signUpButtonPressed) }">
            <option value="" disabled selected hidden>Selecione um estado</option>
            <option *ngFor="let state of estados?.geonames" [value]="state.name">{{ state.name }}</option>
          </select>
        </div>
        <div>
          <label for="cidade">Cidade:</label>
          <select id="cidade" name="cidade" [(ngModel)]="userData.cidade" required
            [ngClass]="{ 'error-border': form.controls['cidade']?.errors?.['required'] && (form.controls['cidade'].touched && signUpButtonPressed) }">
            <option value="" disabled selected hidden>Selecione uma cidade</option>
            <option *ngFor="let city of cidades?.geonames" [value]="city.name">{{ city.name }}</option>
          </select>
        </div>
      </section>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="userData.email" required
          [ngClass]="{ 'error-border': form.controls['email']?.errors?.['required'] && (form.controls['email'].touched && signUpButtonPressed) }">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" [(ngModel)]="userData.senhaHash" required
          [ngClass]="{ 'error-border': form.controls['senha']?.errors?.['required'] && (form.controls['senha'].touched && signUpButtonPressed) }">
      </div>
    </div>
    <button type="submit" (click)="submitForm()">Cadastrar</button>
  </form>
</div>
