<form (ngSubmit)="submitForm()">
    <div>
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" [(ngModel)]="userData.nome" required>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="userData.email" required>
    </div>
    <div>
      <label for="senha">Senha:</label>
      <input type="password" id="senhaHash" name="senhaHash" [(ngModel)]="userData.senhaHash" required>
    </div>
    <button type="submit">Cadastrar</button>
  </form>
  