<app-cabecalho></app-cabecalho>

<div class="minhas-inscricoes">
    <h2>Minhas Inscrições</h2>
    <div class="inscricoes-container">
        <div *ngFor="let inscricao of minhasInscricoes" class="inscricao-card">
            <div class="inscricao-info">
                <h3>Inscrição #{{ inscricao.id }}</h3>
                <p>Competicao: {{ dadosInscricoes[inscricao.id].tituloCompeticao }}</p>
                <p>Categoria: {{ dadosInscricoes[inscricao.id].nomeCategoria }}</p>
                <p>Competidor: {{ dadosInscricoes[inscricao.id].nomeCompetidor }} - {{ dadosInscricoes[inscricao.id].emailCompetidor}} </p>
                <p>Status: {{ inscricao.status === 0 ? 'Pendente' : inscricao.status === 1 ? 
                'Aguardando Pagamento' : inscricao.status === 2 ? 'Paga' : 'Recusada' }}</p>
            </div>
        </div>
    </div>
</div>

<app-rodape></app-rodape>