<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Inicial</title>
</head>

<body>
    <app-cabecalho></app-cabecalho>
    <!-- Banner do projeto -->
    <img src="app/assets/images/logo.jpg" alt="Banner do projeto" class="logo">

    <div class="banner">
        <!-- Banner grande centralizado -->
        <h1>Banner do Projeto</h1>
    </div>

    <div class="conteudo">
        <h2 class="destaque">Competições em destaque</h2>
        <div class="competicoes">
            <label><input type="checkbox" checked> Municipal</label>
            <label><input type="checkbox" checked> Regional</label>
            <label><input type="checkbox"> Nacional</label>
            <label><input type="checkbox"> Mundial</label>
        </div>

        <!-- Lista de competições mais acessadas -->
        <h2>Competições mais acessadas</h2>
        <ul>
            <li>Competição 1</li>
            <li>Competição 2</li>
            <li>Competição 3</li>
            <!-- Adicione mais itens conforme necessário -->
        </ul>
    </div>

    <app-rodape></app-rodape>
</body>

</html>