<!-- Cabeçalho -->
<app-cabecalho></app-cabecalho>

<!-- Formulário de busca -->
<div class="search-form">
    <input type="text" placeholder="Nome da Competição" [(ngModel)]="filtro.nome">
    <input type="text" placeholder="Modalidade" [(ngModel)]="filtro.modalidade">
    <input type="text" placeholder="Descrição" [(ngModel)]="filtro.descricao">
    
    <select [(ngModel)]="filtro.pais" (change)="onCountryChange()">
        <option value=""></option>
        <option *ngFor="let pais of listaPaises?.geonames" [value]="pais.countryCode">{{ pais.countryName }}</option>
    </select>

    <select [(ngModel)]="filtro.estado" (change)="onStateChange()">
        <option value=""></option>
        <option *ngFor="let estado of listaEstados?.geonames" [value]="estado.name">{{ estado.name }}</option>
    </select>

    <select [(ngModel)]="filtro.cidade">
        <option value=""></option>
        <option *ngFor="let cidade of listaCidades?.geonames" [value]="cidade.name">{{ cidade.name }}</option>
    </select>

    <button (click)="buscarCompeticoes()">Buscar</button>
</div>

<!-- Lista de competições -->
<div class="competition-list">
    <div *ngFor="let competicao of competicoes">
        <h3>{{ competicao.nome }}</h3>
        <p><strong>Modalidade:</strong> {{ competicao.modalidade }}</p>
        <p><strong>Descrição:</strong> {{ competicao.descricao }}</p>
        <p><strong>Localização:</strong> {{ competicao.cidade }}, {{ competicao.estado }}, {{ competicao.pais }}</p>
    </div>
</div>

<!-- Ícone para carregar mais competições -->
<div class="load-more">
    <button (click)="carregarMais()">Carregar mais</button>
</div>

<app-rodape></app-rodape>
