<!-- Cabeçalho -->
<app-cabecalho></app-cabecalho>

<div class="page-container">
  <div class="search-container">
    <!-- Formulário de busca -->
    <div class="search-form">
      <div class="form-group">
        <input type="text" placeholder="Nome da Competição" [(ngModel)]="filtro.titulo">
      </div>
      <div class="form-group">
        <input type="text" placeholder="Modalidade" [(ngModel)]="filtro.modalidade">
      </div>
      <div class="form-group">
        <input type="text" placeholder="Descrição" [(ngModel)]="filtro.descricao">
      </div>
      
      <div class="form-group">
        <select [(ngModel)]="filtro.pais" (change)="onCountryChange()">
          <option value="">Selecione o país</option>
          <option *ngFor="let pais of listaPaises?.geonames" [value]="pais.countryCode">{{ pais.countryName }}</option>
        </select>
      </div>

      <div class="form-group">
        <select [(ngModel)]="filtro.estado" (change)="onStateChange()">
          <option value="">Selecione o estado</option>
          <option *ngFor="let estado of listaEstados?.geonames" [value]="estado.name">{{ estado.name }}</option>
        </select>
      </div>

      <div class="form-group">
        <select [(ngModel)]="filtro.cidade">
          <option value="">Selecione a cidade</option>
          <option *ngFor="let cidade of listaCidades?.geonames" [value]="cidade.name">{{ cidade.name }}</option>
        </select>
      </div>

      <div class="button-container">
        <button (click)="buscarCompeticoes()">Buscar</button>
      </div>
    </div>
  </div>

  <!-- Lista de competições -->
  <div class="competition-list">
    <div class="competicoes-container">
        <div *ngFor="let competicao of competicoes" class="competicao-card" [ngStyle]="{'background-image': 'url(' + (competicao.bannerImagem ? competicao.bannerImagem : 'none') + ')'}">
            <div [ngClass]="{'competicao-info': true, 'com-banner': competicao.bannerImagem !== null}">
                <h3>{{ competicao.titulo }}</h3>
                <p><strong>Modalidade:</strong> {{ competicao.modalidade }}</p>
                <p><strong>Descrição:</strong> {{ competicao.descricao }}</p>
                <p><strong>Localização:</strong> 
                    <span *ngIf="!competicao.pais"> Não informado</span>
                    <span *ngIf="competicao.pais">{{ competicao.pais }}</span>
                    <span *ngIf="competicao.estado">, {{ competicao.estado }}</span>
                    <span *ngIf="competicao.cidade">, {{ competicao.cidade }}</span>
                </p>
                <button (click)="inscreverCompeticao(competicao.id)">Inscrever-se</button>
            </div>
        </div>
    </div>
  </div>

  <!-- Ícone para carregar mais competições -->
  <div class="load-more">
    <button (click)="carregarMais()">Carregar mais</button>
  </div>
</div>

<app-rodape></app-rodape>
