<div class="header">
  <button (click)="buscarCompeticao()">{{ router.url !== '/busca' ? 'Buscar competição' : 'Tela Inicial' }}</button>
  <button (click)="cadastrarCompeticao()">{{ router.url !== '/cadastro-competicao' ? 'Cadastrar Competição' : 'Tela Inicial' }}</button>
  <button (click)="minhasCompeticoes()">{{ router.url !== '/minhas-competicoes' ? 'Minhas Competições' : 'Tela Inicial' }}</button>
  <button (click)="cadastrar()">Cadastrar-se</button>
  <button (click)="login()">Login</button>
  <!-- Inclua aqui a lógica para exibir a imagem do usuário logado -->
</div>
