<!-- Diagrama -->
<div #diagramaRef style="width: 100%; height: 600px; background-color: #1e1e1e;"></div>

<!-- Botão Adicionar Participante -->
<div style="text-align: center; margin-top: 20px;">
  <button (click)="abrirSelecaoParticipante()" style="padding: 10px 20px; font-size: 16px;">
    Adicionar Participante
  </button>
    <button (click)="mostrarRemocao = !mostrarRemocao" style="padding: 10px 20px; font-size: 16px;">
    Remover Participante
  </button>
</div>

<!-- Seletor para Escolher Participante (ao adicionar) -->
<div *ngIf="selecionandoParticipante" class="seletor-participante">
  <mat-form-field appearance="fill" class="dropdown-personalizado">
    <mat-label>Escolha um participante</mat-label>
    <mat-select (selectionChange)="adicionarParticipante($event.value)">
      <mat-option *ngFor="let nome of opcoesVencedor" [value]="nome">
        {{ nome }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<!-- Seletor de Vencedor (visível somente ao selecionar) -->
<mat-select *ngIf="selecionando" [value]="''" (selectionChange)="definirVencedor($event.value)"
  class="seletor-vencedor">
  <mat-option *ngFor="let op of opcoesVencedor" [value]="op">{{ op }}</mat-option>
</mat-select>

<!-- Seletor para remover participante -->
<div *ngIf="mostrarRemocao" class="seletor-participante" style="margin-top: 10px;">
  <mat-form-field appearance="fill">
    <mat-label>Selecione o participante a remover</mat-label>
    <mat-select (selectionChange)="removerParticipante($event.value)">
      <mat-option *ngFor="let nome of participantes" [value]="nome">
        {{ nome }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>