<app-cabecalho></app-cabecalho>

<div class="container">
  <h1>Gerenciar Confrontos</h1>

  <div class="categoria-select">
    <label for="categoria">Selecione a Categoria:</label>
    <select id="categoria" [(ngModel)]="categoriaSelecionada" (change)="onCategoriaSelecionada()">
      <option value="">-- Escolha uma categoria --</option>
      <option *ngFor="let categoria of categorias" [value]="categoria.id">
        {{ categoria.nome }}
      </option>
    </select>
  </div>

  <div class="confrontos-container" *ngIf="categoriaSelecionada">
    <h2>Chaveamentos</h2>
    <div class="chaveamentos">
      <ul>
        <li *ngFor="let chaveamento of chaveamentos">
          {{ chaveamento.nome }}
          <ul>
            <li *ngFor="let confronto of chaveamento.confrontos">
              {{ confronto.dataInicio }} - {{ confronto.dataTermino }} - {{ confronto.local }}
              {{confronto.confrontoInscricoes[0].competidor.nome}} vs {{confronto.confrontoInscricoes[1].competidor.nome}}
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <button (click)="criarChaveamento()">Criar Novo Chaveamento</button>

    <!-- <h2>Confrontos Avulsos</h2>
    <div class="confrontos-avulsos">
      <ul>
        <li *ngFor="let confronto of confrontos">{{ confronto.descricao }}</li>
      </ul>
    </div>
    <button (click)="criarConfronto()">Criar Novo Confronto</button> -->
  </div>
</div>

<app-rodape></app-rodape>
